body{
	font-family: "Lato";
    color: #424551;
   
} 

.car{
    width: 1000px;
height: 700px;
background: url("../img/depositphotos_4421946-stock-photo-road-to-the-sunset.jpg") 0 0/cover no-repeat;


}
.block__item{
    margin: 0 auto;
    width: 900px;
}
.car__body {
    width: 400px;
    height: 250px;
    border: 5px solid rgb(219, 4, 97);
    position: absolute;
    bottom: 400px;
    right: 500px;
    border-radius: 200px 60px 30px 20px;
    background-color: rgb(244, 12, 143);
    }
    .car__window--left {
        width: 180px;
        height: 110px;
        position: absolute;
        bottom: 530px;
        right: 510px;
        background-color: aqua;
border-radius: 0px 60px 30px 0px;
border: 4px rgb(1, 25, 25);
    }
.car__window--right{
    width: 165px;
    height: 110px;
    background-color: rgb(3, 20, 20);
    position: absolute;
    bottom: 530px;
    right: 690px;
    border-radius: 160px 0px 0px 0px;
}

.car-wheel--left{
    position: absolute;
    bottom:360px;
    right:730px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);
}
.car-wheel--right{
    position: absolute;
    bottom:360px;
    right:550px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);

}
.car-headlightl{
    width: 60px;
    height: 40px;
    border: 2px solid rgba(177, 177, 177, 0.575);
    position: absolute;
    border-radius: 31% 69% 0% 100% / 63% 30% 70% 37% ;
    bottom: 510px;
    left: 1020px;
    background-color: yellow;
}